.mosaic.mosaic-blueprint-theme {
  background-color: transparent;
  overflow: hidden;
}

.mosaic {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.mosaic-root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 0;
  min-height: 0;
}

.mosaic-split:hover .mosaic-split-line {
  box-shadow: 0 0 0 1px var(--mantine-primary-color-filled) !important;
}
